{% load static %}

<link href="{% static 'admins/assets/plugins/bootstrap/bootstrap5/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
<link href="{% static 'admins/assets/plugins/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'admins/assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
<link href="{% static 'admins/assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'admins/assets/css/colors.css' %}" rel="stylesheet">