### Here you can set your project environment variables so that you can call them later (os.environ["TARGET"]) ###
SECRET_KEY=Your Secret Key Passage
DEBUG=Your Debug Boolean Status
DATABASE_ROLE=Your Database Role [Username]
DATABASE_NAME=Your Database Name
DATABASE_ROLE_PASSWORD=Your Database Role Password