{% extends "_base_admins.html" %}
{% load static %}

{% block title %}
تغییر رمز عبور
{% endblock %}

{% block content %}
<!-- BEGIN PAGE CONTENT -->
<div id="page-content">
    <div class="row">                    
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow"> 
                <ul class="breadcrumb">
                    <li><a href="dashboard.html">پیشخوان</a></li>
                    <li><a href="#">صفحات</a></li>                                
                    <li class="active">تغییر رمز عبور</li>                            
                </ul>
                <div class="breadcrumb-left">
                    {{ today }} -
                    {% include "admins/includes/_get_weekday.html" %}
                    <i class="icon-calendar"></i>
                </div><!-- /.breadcrumb-left -->
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->                    
        
        <div class="col-12">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">                                        
                            <i class="icon-lock"></i>
                            تغییر رمز عبور
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-code"  rel="tooltip" title="کدها" href="#">
                            <i class="fa fa-code"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
                <div class="portlet-body">
                    <center>
                        <div class="alert alert-info">
                            <i class="icon-bell"></i>
                            <span>
                                <br />
                                گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد؛<br />
                                رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد؛<br />
                                گذرواژه شما نمی تواند یک گذرواژه معمول باشد؛<br />
                                گذرواژه شما نمی تواند کلا عدد باشد.
                            </span>
                        </div><!-- /.alert -->
                    </center>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 border shadow p-b-30">
                            <p class="text-center m-t-40 m-b-40">
                                <i class="icon-lock border border-primary img-circle text-primary font-xxxlg p-20"></i>
                            </p>
                            <hr>
                            <form id="form" role="form" method="POST">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="old_password">رمز عبور پیشین</label>
                                        <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-lock"></i>
                                            </span>
                                            <input type="password" id="old_password" name="old_password" class="form-control ltr text-left" required>
                                        </div><!-- /.input-group -->
                                        
                                        {% if form.old_password.errors %}
                                            <span style="color: red;">رمز عبور قبلی رو اشتباه وارد کردی.</span>
                                        {% endif %}
                                            
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="password">رمز عبور جدید</label>
                                        <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-key"></i>
                                            </span>
                                            <input type="password" id="password" name="new_password1" class="form-control ltr text-left" required>
                                        </div><!-- /.input-group -->
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <label for="confirm_password">تکرار رمز عبور</label>
                                        <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-key"></i>
                                            </span>
                                            <input type="password" id="confirm_password" name="new_password2" minlength="5" class="form-control ltr text-left" required>
                                        </div><!-- /.input-group -->

                                        {% if form.new_password2.errors %}
                                        <span style="color: red;">{{ form.new_password2.errors }}</span>
                                        {% endif %}

                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-info btn-round">
                                        <i class="icon-check"></i>
                                        ذخیره
                                    </button>
                                    <button onclick="window.history.go(-1);" class="btn btn-warning btn-round pull-left">
                                        <i class="icon-close"></i>
                                        بازگشت
                                    </button>
                                </div><!-- /.form-actions -->
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->
        </div><!-- /.col-12 -->                    
    </div><!-- /.row -->
</div><!-- /#page-content -->
<!-- END PAGE CONTENT -->
{% endblock %}
