{% extends "_base_admins.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
حذفِ دسته بندیِ {{ category.title }}
{% endblock title %}

{% block content %}
<div id="page-content">
    <div class="row">
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow">
                <ul class="breadcrumb">
                    <li><a href="{% url 'admins:admins' %}">پیشخوان</a></li>
                    <li><a href="{% url 'admins:post_list' %}">لیست پست ها</a></li>
                    <li class="active">حذف دسته بندی</li>
                </ul>
                <div class="breadcrumb-left">
                    {{ today }} - 
                    {% include "admins/includes/_get_weekday.html" %}
                    <i class="icon-calendar"></i>
                </div><!-- /.breadcrumb-left -->
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->

        <div class="col-12">
            <div class="portlet box border shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">
                            <i class="icon-note"></i>
                            حذفِ دسته بندیِ {{ category.title }}
                        </h3>
                    </div><!-- /.portlet-title -->
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div><!-- /.buttons-box -->
                </div><!-- /.portlet-heading -->
                <div class="portlet-body">
                    <div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <span style="color: red;">آیا مطمئن هستید که میخواهید دسته بندیِ <b><i>"{{ category.title }}"</i></b> را حذف کنید؟</span>
                            <br />
                            <hr />
                            <br />
                            <button type="submit" class="btn btn-danger curve">حذف کنم؟</button>
                        </form>
                    </div>
                </div><!-- /.portlet-body -->
            </div><!-- /.portlet -->
        </div><!-- /.col-12 -->
    </div><!-- /.row -->
</div><!-- /#page-content -->
{% endblock content %}
