{% extends '_base.html' %}
{% load static %}

{% comment %}
welcome! This is one of the most interesting parts of Django template system and MTV architecture.
Here we create a nice template to display information from View [post_list_view].
Before that, let's talk more about the Template System. Django Template System is arguably the most 
powerful Template System in the world. But getting to know it takes a little time.
To get acquainted with it, you should read Django's own sources and documents. As
stated in README.md, we will not be responsible for Templates. But we will explain about it.

Let's explain the two tags above. Yes! They are Django Template System tags. 
Django Template System tags are similar to Python commands, but with a different 
syntax. Django Template System tags (hereinafter referred to as DTS for short) are 
placed between {} and %%. {% TAG %}. Just as easily!

Just as HTML has open and closed tags, so do DTS tags. Usually the end is placed behind the tag name and the tag is 
closed:
{% TAG %}
{% endTAG %}

These tags are so many, so many! Python syntaxes are often visible here as well. For example the syntax for:
{% for i in j %}
<p>{{ i }}</p>
{% endfor %}
Finally, {{ X }} is used by the Back-End to display external variables.

The first tags on the page are also "single tags". They do not close and are used only. The extends tag means inheriting 
from another template. Conventionally create a "_base.html" template and inherit it. In inheritances, the fields called 
blocks are left blank so that we can fill in the form that he inherited. By checking _base.html you will learn more 
about block logic.

The load tag is also a single tag. The task of this tag is to open the Django features and use it in a Template. 
We need to use static files to open this feature via load.
{% endcomment %}

{% block title %}
{% if not tag %}
لیست پست ها | Posts List
    {% else %}
    محتوای تگ {{ tag.name }}
{% endif %}
{% endblock %}

{% block tags %}
{% include "blog/includes/_tag_list.html" %}
{% endblock tags %}

{% block categories %}
{% include "blog/includes/_category_list.html" %}
{% endblock %}

{% block content %}
<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        {% if query %}
          <span>در پاسخ به جست و جوی</span>
        {% endif %}
          
        <h1 class="section-title h2 mb-3">
          <span>{% if tag %}محتوای تگ {{ tag.name }}{% elif query %}{{ query }}{% else %}همه پست ها{% endif %}</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="javascript:void(0);"><i class="ti ti-home"></i>  <span>خانه</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="{% url 'blog:post_list' %}"><span>لیست پست ها</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="javascript:void(0);"><span>{% if posts %}همه پست ها{% else %}پست های مربوط به تگ {{ tag.name }}{% endif %}</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row gy-5 gx-4 g-xl-5">
    {% for post in posts %}
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="{% url 'blog:post_detail' post.slug %}" title="{{ post.title }}">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="{{ post.banner.url }}" alt="{{ post.title }}" width="970" height="500">
            </div>
          </a>
          <a class="d-block" href="{% url 'blog:post_detail' post.slug %}" title="{{ post.title }}"><h3 class="mb-3 post-title">
          {{ post.title }}
          </h3></a>
          <p>{{ post.message }}</p>
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>{{ post.get_pub_datetime_jalali_date }}</span>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span> خواندن: {{ post.read_time }}</span>
            </li>
              <br />
            <li class="list-inline-item mt-2">
              <i class="ti ti-eye"></i>
              <span style="text-align: center;">بازدید ها: {{ post.views }}</span>
            </li>
              <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <a href="{% url 'blog:author_post_list' post.author.username %}" class="card-meta-author"
              title="خواندن پست نوشته شده توسط -
              {% if post.author.first_name and post.author.last_name %}{{ post.author.first_name }} {{ post.author.last_name }}{% else %}{{ post.author.username }}{% endif %}">
                <img class="rounded-circle" src="{{ post.author.avatar.url }}" alt="post.author.username" width="35" height="35"> توسط <span>
                  {% if post.author.first_name and post.author.last_name %}{{ post.author.first_name }} {{ post.author.last_name }}{% else %}{{ post.author.username }}{% endif %}
                </span>
              </a>
            </li>
          </ul>
            <ul class="card-meta">
                <ul class="card-meta-tag list-inline-item">
                    {% for tag in post.tags.all %}
                        <li class="list-inline-item small"><a href="{% url 'blog:post_list' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
      </article>
    </div>
    {% endfor %}

    <div class="col-12">
      <!-- pagination -->
      {# Here, almost the most technical part of this template. Pagination System. If you remember, we have provided #}
      {# the full description in the Views. But part of the work with Paginations is done in the Template System. #}
      {# Also know that most of the features of Pagination System have already been prepared in Django, we just #}
      {# make it a little more professional :)  #}
      <nav class="text-center mt-5">
        <ul class="pagination justify-content-center border border-white rounded d-inline-flex">
          {# Here we check if the previous page exists or not. #}
          {# If there is, we create a small section that has a link and returns to the previous page. #}
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link rounded w-auto px-4" href="?page={{ page_obj.previous_page_number }}" aria-label="Pagination Arrow">قبلی</a></li>
          {% endif %}

          {# If you read Django's own documentation, it has not done so and is not really needed in normal situations #}
          {# But we want to be more professional and display the total number of pages, but with one change. #}
          {# We want to display pages 1 and 2 and show (...) between the one left on the last page and the one before #}
          {# last page. But more interesting is the part that is responsive to the Pagination number. When the #}
          {# Pagination number is multiplied by 2, it also displays pages 3 and 4, followed by ... display. #}
          {% for page_num in page_obj.adjusted_elided_pages %}
              {% if page_num == page_obj.paginator.ELLIPSIS %}
              <li class="page-item mt-2 mx-2">...</li>
                  {% else %}
                  <li class="page-item">
                    <a href="?page={{ page_num }}" class="page-link rounded">{{ page_num }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {# Here, too, we check in the above procedure whether the next page exists or not. If there #}
          {# is, we make a small section and display it. #}        
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link rounded w-auto px-4" href="?page={{ page_obj.next_page_number }}" aria-label="Pagination Arrow">بعدی</a></li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </div>
</div>
{% endblock %}